.admin-container {
    display: flex;

    .admin-sidebar {
        .pro-sidebar {
            height: 100vh;
        }
    }

    .admin-content {
        width: 100%;

        .admin-header {
            width: 110%;
            margin-left: 1%;
            min-height: 70px;
            display: flex;
            align-items: center;
            border-bottom: solid 1px;

            .side-toggle {
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }

            .btn-logout {
                border-radius: 5px;
                padding: 0 15px;
                border: solid 1px rgb(53, 53, 53);
                height: 40px;
                margin-left: 85%;
            }
        }

        .admin-main {
            .title {
                margin-top: 30px;
                margin-left: 45%;
            }

            .board {
                margin-left: 15%;

                .row {
                    margin-top: 60px;
                    display: flex;
                    gap: 10%;

                    .col-sm-3 {
                        padding: 20px 0px;
                        text-align: center;
                        border: 1px solid;
                        min-height: 125px;
                        border-radius: 5px;

                        h5 {
                            color: green;
                        }

                        span {
                            font-size: large;
                            color: red;
                            font-weight: 600;
                        }
                    }
                }
            }

            .manage-user-container {
                .user-content {
                    margin-left: 10%;
                }
            }
        }
    }
}